# GNU autotools
aclocal.m4
autom4te.cache
compile
config.guess
config.h*
config.log
config.sub
config.status
configure
install-sh
libtool
ltmain.sh
m4/
Makefile
Makefile.in
missing
stamp-h1
ylwrap

## Executables created by configure
pythonbiogeme/debugbiogeme
pythonbiogeme/pythonbiogeme
pythonbiogeme/pythonbiogeme_static
tools/histograms/histogram
tools/histograms/weightedhistogram
tools/mod2py/mod2py
tools/prepareData/biocheckdata
tools/prepareData/biopreparedata
tools/prepareData/biosampledata
webui/webbiogeme

## Compiled files
# Header files
libraries/pythonbiogeme/bioCompilationDate.h
libraries/pythonbiogeme/bioUser.h
libraries/utils/patCompilationDate.h
libraries/utils/patUser.h
# Libraries
*.a
*.o
*.la
*.lo
*/.libs/
# Executables
biogeme/biogeme
biomerge/biomerge
biosim/biosim
gui/guibiogeme
pybiogeme/pybiogeme
testing/testing
# Documentation
doc/tutorialBiogeme.pdf
